@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.logo a{
    display: flex;
    background-color: #ce3ce3;
    margin-top: -50px;
}

img {
    width: 200px;
    height: 40px;
    margin-top: 40px;

}