* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header .logo {
  position: relative;
  color: palevioletred;
  font-family: "Lobster", cursive;
  display: inline-block;
  font-weight: 800;
  text-decoration: none;
  font-size: 2em;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: darkblue;
  font-weight: 500;
  font-size: 1.1em;
  margin-left: 10px;
  padding: 8px 18px;
  text-decoration: none;
  user-select: none;
}

header ul li a.active,
header ul li a:hover {
  background: blue;
  color: white;
  border-radius: 30px;
}

.container {
  position: relative;
  display: flex;
}

.container .textBox {
  position: relative;
  max-width: 550px;
}

.container .textBox h2 {
  color: rgb(58, 58, 161);
  font-size: 3.5em;
  margin-bottom: 15px;
  line-height: 1.2em;
  font-weight: 600;
}

.container .textBox p {
  font-size: 1.2em;
  color: #333;
}

.container .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background: rgb(243, 79, 106);
  color: white;
  font-weight: 700px;
  font-size: 1.2em;
  border-radius: 40px;
  letter-spacing: 1px;
  text-decoration: none;
}

.sci {
  position: absolute;
  display: flex;
  bottom: 40px;
  justify-content: center;
  align-items: center;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  background: darkblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.sci li a img {
  filter: invert(1);
  transform: scale(0.5);
}

.sci li a:hover {
  background: crimson;
  transform: translateY(-10px);
}

.masjid {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 700px;
}
